TDX_CLIENT_ID=your_client_id
TDX_CLIENT_SECRET=your_client_secret
TDX_BASE_URL=https://tdx.transportdata.tw/api/basic
TDX_TOKEN_URL=https://tdx.transportdata.tw/auth/realms/TDXConnect/protocol/openid-connect/token
